.loginContainer {
  height: 100vh;
  background: rgb(14,50,101);

  .loginBox {
    height: 400px;
    width: 600px;
    border-radius: 16px;
    background: rgb(245,176,135);
    box-shadow: 20px 20px 60px rgb(17, 61, 123), -20px -20px 60px rgb(23, 68, 132);
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-0%, -50%);
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    letter-spacing: 10px;
    align-items: center;
    justify-content: space-around;

    .loginInfo {
      width: 400px;
      font-size: 18px;
      color: rgb(100, 91, 91);
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
      display: flex;
      justify-content: space-between;
      align-items: center;
      input {
        border: transparent;
        border-radius: 4px;
        padding:0 6px;
        background-color: rgb(192, 209, 178);
        height: 40px;
        width: 300px;
        &::-webkit-input-placeholder{
          padding-left: 6px;
        }
        &:focus{
          
        }
      }
    }
    button {
      height: 60px;
      width: 400px;
      font-size: 24px;
      background: rgb(188, 56, 35);
      border: transparent;
      border-radius: 4px;
      color: #fff;
      letter-spacing: 20px;
      cursor: pointer;
    }
  }

  .circle {
    position: absolute;
    top: 10vh;
    left: 10vw;
    height: 10vw;
    width: 10vw;
    border-radius: 5vw;
    background: rgb(245,176,135);
    box-shadow: 20px 20px 60px rgb(17, 61, 123), -20px -20px 60px rgb(23, 68, 132);
  }

  .box1 {
    position: absolute;
    top: 10vh;
    left: 24vW;
    height: 10vw;
    width: 20vw;
    border-radius: 16px;
    background: rgb(245,176,135);
    box-shadow: 20px 20px 60px rgb(17, 61, 123), -20px -20px 60px rgb(23, 68, 132);
  }
  .box2 {
    position: absolute;
    top: 34vh;
    left: 10vW;
    height: 56vh;
    width: 34vw;
    border-radius: 16px;
    background: rgb(245,176,135);
    box-shadow: 20px 20px 60px rgb(17, 61, 123), -20px -20px 60px rgb(23, 68, 132);
  }
}
